<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
<h1><a href="#/register">Register an account</a></h1>
<br><br><hr><br><br>

<h1>Add Manufacturer</h1>
<input type="text" ng-model="newManufacturer" placeholder="Manufacturer name"/><br>
<br>
<button class="btn btn-primary" ng-click="addManufacturer()">Create</button>

<br><br><br>
{{manufacturerMsg}}
<br>
<hr>
<br><br>
<h3>Add Product</h3>

<input  class="form-control w" type="text" ng-model="title" placeholder="Title"/><br>
<input  class="form-control w" type="imageUrl" ng-model="imageUrl" placeholder="Image URL"/><br>
<input  class="form-control w" type="text" ng-model="price" placeholder="Price"/><br>
<select ng-model="manufacturerNewProduct" class="form-control w" ng-options="item.id as item.name for item in manufacturers">
    <option value="">Manufacturer</option>
</select><br>
<input  class="form-control w" type="text" ng-model="category" placeholder="Category"/><br>
<input  class="form-control w" type="number" ng-model="leftInStock" placeholder="Quantity"/><br>
<br>
<button class="btn btn-primary" ng-click="addProduct(title, manufacturerNewProduct, price, imageUrl, leftInStock, category)">Add</button>
<br><br><br>
{{productMsg}}
</center>
<hr>










</body>
</html>

<style>
    .w{
        width: 30%;
    }
</style>