<h3>Cart</h3>

<table  class="table" width="60%">
    <thead class="thead-inverse">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tr ng-repeat = "cartItem in cartItems">
        <td>{{cartItem.stockItem.title}}</td>
        <td>{{cartItem.stockItem.price}}</td>
        <td>{{cartItem.quantity}}</td>
        <td><a ng-click="removeItemFromCart(cartItem.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    <tr>
        <td>Total Price</td>
        <td>{{totalCartPrice}}</td>
    </tr>
</table>



<div ng-show="totalCartPrice>=2000" class="alert alert-success">
    <strong>You are eligible for a discount!</strong> Purchases over $2000 receive a 15% discount
</div>


Total Price: {{totalCartPrice}}

<br>

<button class="btn btn-danger" ng-click="clearCart()">Clear Cart</button>
<button class="btn btn-primary" ng-click="checkout()">Check Out</button>
<br><hr>
<b>{{message}}</b>
${{price}}
{{method}}
{{dateTime}}
<hr>

<div id="payment">
    <form class="form-inline" role="form">
        <center>
            <select class="form-control" ng-model="payType">
                <option value="" disabled>Select Payment Option</option>
                <option value="PayPal">PayPal</option>
                <option value="Debit">Debit</option>
                <option value="Stripe">Stripe</option>
            </select>
            <button class="btn btn-primary" ng-click="pay(payType)">Pay</button>
        </center>
    </form>
</div>
