<h3>Cart</h3>

<table  class="table" width="60%">
    <thead class="thead-inverse">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tr ng-repeat = "cartItem in cartItems">
        <td>{{cartItem.stockItem.title}}</td>
        <td>{{cartItem.stockItem.price}}</td>
        <td>{{cartItem.quantity}}</td>
        <td><a ng-click="removeItemFromCart(cartItem.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    <tr>
        <td>Total Price</td>
        <td>{{totalCartPrice}}</td>
    </tr>
</table>


Total Price: {{totalCartPrice}}

<br>

<button class="btn btn-danger" ng-click="clearCart()">Clear Cart</button>
<button class="btn btn-primary" ng-click="purchase()">Check Out</button>
<br><hr>
<b>{{message}}</b>
<hr>

