<div>
    <hr>
    <table class="table table-hover bop"  width="80%">
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th>Total Cost</th>
            <th>Payment Method</th>
        </tr>
    </table>
    <table ng-repeat = "history in orderHistory" class="table table-hover bop"  width="40%">
        <tr bgcolor="#B2FFB2" class="trBorderTop">
        <td>{{history.customer.email}}</td>
        <td>{{history.dateTime}}</td>
        <td>{{history.price}}</td>
        <td>{{history.paymentMethod}}</td>
        <tr bgcolor="#fffacd" ng-repeat = "items in history.orderItems" class="trBorderBottom">
            <td colspan="4">{{items.stockItem.manufacturer.name}} {{items.stockItem.title}} ({{items.quantity}})</td></tr>
        </tr>
        <br><br>
    </table>

    <hr>

        <style>
        .table {
            border-radius: 5px;
            width: 70%;
            margin: 0px auto;
            float: none;
        }

        .trBorderTop{
            border-top: solid;
            border-left: solid;
            border-right: solid;
            border-bottom: solid;
        }

        .trBorderBottom{
            border-bottom: groove;
            border-top: groove;
            border-left: groove;
            border-right: groove;
        }
        .center_div{
            margin: 0 auto;
            width:30%;
        }

        .bop{
            margin-bottom: 50px;

        }

        .toTheSide{
            margin-left: 300px;
        }

        body {

        }


        td { width: 20%; }
        th {width: 20%;}
    </style>
</div>